.bookmarks_creator {
    width: 350px;
    display: flex;
    align-items: center;
    height: 65px;
    border: 1px gray dashed;
    margin: 20px;
};

.bookmarks_creator > input {
    font-size : 25px;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
};

.board {
    color: #494949;
}
